body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.noga-eurojackpot {
    background-color: #007f2d;
    color: white;
    padding: 20px;
    font-size: 14px;
    
}

.vsebina-noge {
    width: 100%;
    margin-left: 20%;
    margin-bottom: 20px;
}
.leva-pomoc,
.socialna-omrezja,
.mobilna-aplikacija {
    width: 23%;
    float: left;
    margin: 0 1%;
}


 h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

 a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.ikona-trgovine {
    height: 40px;
    margin: 5px 0;
    
}
.noga-spodaj {
    text-align: center;
    font-size: 13px;
}
.noga-spodaj a {
    color: #ffffff;
    margin: 0 5px;
    text-decoration: underline;
}
