body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}





.clear {
    clear: both;
}

.koraki {
    background-color: orange;
    padding: 10px 0; /* malo paddinga da ni "stisnjeno" */
}

.koraki .krog {
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #4b2600;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    margin-right: 8px;
    color: #4b2600;
    transition: background-color 0.3s, color 0.3s;
}

.koraki .krog:hover {
    background-color: #4b2600;
    cursor: pointer;
    color: white;
}

.prvi-korak {
    float: left;
    margin-left: 25%;
}

.drugi-korak {
    float: right;
    margin-right: 55%;
}

.napis {
    float: right;
    margin-top: 20px;
    margin-left: 15px;
}

.stevilke-navadne .krog,
.stevilke-euro .krog {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid grey;
    text-align: center;
    font-weight: bold;
    margin-right: 8px;
    line-height: 35px;
    color: grey;
    font-size: 25px;
    margin: 0;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.stevilke-navadne .krog:hover,
.stevilke-euro .krog:hover {
    cursor: pointer;
    border-color: orange;
    color: orange;
}

.main-leva {
    float: left;
    margin-left: 30%;
    border: 2px solid grey;
    padding: 5px;
}

.main-desna {
    float: right;
    margin-right: 20%;
}

.stevilke-euro {
    margin-left: 30%;
    margin-top: 3%;
    border: 2px solid grey;
    float: left;
    padding: 5px;
}

.main p {
    margin-left: 30%;
}

.krog.izbrana {
    background-color: yellow;
    color: black;
    border: 2px solid orange;
}

.zrebanja-izbira {
    margin-top: 10px;
}

.zrebanja-izbira .krog {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid grey;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
    color: grey;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.zrebanja-izbira .krog:hover {
    cursor: pointer;
    border-color: orange;
}

.krog.izbrana {
    background-color: orange;
    color: white;
    border: 2px solid darkorange;
}

.footer {
    margin-left: 30%;
}
button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 14px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin: 5px 3px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: darkorange;
    transform: scale(1.05);}